
body{

    font-family: Impact, Haettenschweiler;
}

#title{

    font-family: 'Times New Roman', Times, serif;
}

#lista1{

    font-size: x-large;

}

header{

    background-color:  rgb(154, 229, 25);
    height: 100%;
    width: 100%;

}